absl-py @ file:///C:/ci/absl-py_1603889282672/work
alabaster==0.7.10
anaconda-client==1.6.14
anaconda-navigator==1.10.0
anaconda-project==0.8.2
asn1crypto==0.24.0
astor==0.8.1
astroid==1.6.3
astropy==3.0.2
atomicwrites==1.4.0
attrs==18.1.0
Babel==2.5.3
backcall==0.1.0
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
bcrypt==3.2.0
beautifulsoup4==4.6.0
bitarray==0.8.1
bkcharts==0.2
blaze==0.11.3
bleach==2.1.3
blinker==1.4
bokeh==0.12.16
boto==2.48.0
boto3 @ file:///tmp/build/80754af9/boto3_1605065270944/work
botocore @ file:///tmp/build/80754af9/botocore_1605213885074/work
Bottleneck==1.2.1
branca @ file:///home/conda/feedstock_root/build_artifacts/branca_1588860304135/work
bz2file==0.98
certifi==2020.12.5
cffi==1.11.5
chardet==3.0.4
click==6.7
cloudpickle==0.5.3
clyent==1.2.2
colorama==0.3.9
comtypes==1.1.4
conda==4.9.2
conda-build==3.10.5
conda-package-handling @ file:///C:/ci/conda-package-handling_1603018126209/work
conda-verify==2.0.0
contextlib2==0.5.5
cryptography @ file:///C:/ci/cryptography_1605544548630/work
cycler==0.10.0
cymem==1.31.2
Cython==0.28.2
cytoolz==0.9.0.1
dask==0.17.5
datashape==0.5.4
decorator==4.3.0
defusedxml==0.6.0
dill==0.2.9
Distance==0.1.3
distributed==1.21.8
dnspython==2.1.0
docutils==0.14
email-validator==1.1.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.0.0/en_core_web_sm-2.0.0.tar.gz
entrypoints==0.2.3
et-xmlfile==1.0.1
fastcache==1.0.2
filelock==3.0.4
Flask==1.0.2
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.4
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
folium @ file:///home/conda/feedstock_root/build_artifacts/folium_1588861378954/work
fuzzywuzzy @ file:///home/conda/feedstock_root/build_artifacts/fuzzywuzzy_1605704184142/work
gast @ file:///tmp/build/80754af9/gast_1597433534803/work
gensim==3.8.0
gevent==1.3.0
glob2==0.6
gpxpy==1.4.2
graphviz @ file:///tmp/build/80754af9/python-graphviz_1602262908037/work
greenlet==0.4.13
grpcio @ file:///C:/ci/grpcio_1597406495377/work
gunicorn==20.0.4
h5py==2.7.1
heapdict==1.0.0
html5lib==1.0.1
idna==2.6
imageio==2.3.0
imagesize==1.0.0
imbalanced-learn==0.7.0
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1602276842396/work
ipykernel==4.8.2
ipython==6.4.0
ipython-genutils==0.2.0
ipywidgets==7.2.1
isort==4.3.4
itsdangerous==0.24
jdcal==1.4
jedi==0.12.0
Jinja2==2.10
jmespath @ file:///tmp/build/80754af9/jmespath_1594304593830/work
joblib==0.17.0
json5==0.9.5
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
jupyterlab==0.32.1
jupyterlab-launcher==0.10.5
jupyterlab-server==1.0.0
Keras==2.1.5
Keras-Applications @ file:///tmp/build/80754af9/keras-applications_1594366238411/work
Keras-Preprocessing==1.1.0
keyring @ file:///C:/ci/keyring_1601490935777/work
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
llvmlite==0.23.1
locket==0.2.0
lxml==4.2.1
Markdown @ file:///C:/ci/markdown_1605111171606/work
MarkupSafe==1.0
matplotlib==2.2.2
mccabe==0.6.1
menuinst==1.4.14
missingno==0.4.2
mistune==0.8.3
mkl-fft==1.0.0
mkl-random==1.0.1
mock==4.0.2
more-itertools==4.1.0
mpmath==1.0.0
msgpack-numpy @ file:///home/conda/feedstock_root/build_artifacts/msgpack-numpy_1601562624589/work
msgpack-python==0.5.6
multipledispatch==0.5.0
murmurhash==0.28.0
navigator-updater==0.2.1
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.1
nltk==3.3
nose==1.3.7
notebook==5.5.0
numba==0.38.0
numexpr==2.6.5
numpy==1.15.0
numpydoc==0.8.0
odo==0.5.1
olefile==0.45.1
openpyxl==2.5.3
packaging==17.1
pandas==0.23.0
pandocfilters==1.4.2
parso==0.2.0
partd==0.3.8
path.py==11.0.1
pathlib2==2.3.2
patsy==0.5.0
pep8==1.7.1
pickleshare==0.7.4
Pillow==5.1.0
pkginfo==1.4.2
plac==0.9.6
plotly @ file:///tmp/build/80754af9/plotly_1605121809988/work
pluggy==0.6.0
ply==3.11
preshed==1.0.1
prometheus-client==0.8.0
prompt-toolkit==1.0.15
protobuf==3.13.0
psutil==5.4.5
psycopg2==2.8.6
py==1.5.3
pycodestyle==2.4.0
pycosat==0.6.3
pycparser==2.18
pycrypto==2.6.1
pycurl==7.43.0.6
pyflakes==1.6.0
Pygments==2.2.0
pylint==1.8.4
pyodbc==4.0.23
pyOpenSSL==18.0.0
pyparsing==2.2.0
pyreadline==2.1
pyrsistent @ file:///C:/ci/pyrsistent_1600141799440/work
PySocks==1.6.8
pytest==3.5.1
pytest-arraydiff==0.2
pytest-astropy==0.3.0
pytest-doctestplus==0.1.3
pytest-openfiles==0.3.0
pytest-remotedata==0.2.1
python-dateutil==2.7.3
python-Levenshtein @ file:///D:/bld/python-levenshtein_1602333109572/work
pytz==2018.4
PyWavelets==0.5.2
pywin32==224
pywin32-ctypes==0.2.0
pywinpty==0.5.1
PyYAML==5.3.1
pyzmq==17.0.0
QtAwesome==0.4.4
qtconsole==4.3.1
QtPy==1.4.1
regex==2017.11.9
requests==2.18.4
retrying==1.3.3
rope==0.10.7
ruamel-yaml==0.15.35
s3transfer==0.3.3
scikit-image==0.13.1
scikit-learn==0.23.2
scipy==1.1.0
seaborn==0.9.0
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
smart-open==1.9.0
snowballstemmer==1.2.1
sortedcollections==0.6.1
sortedcontainers==1.5.10
soupsieve==2.0.1
spacy==2.0.13
Sphinx==1.7.4
sphinxcontrib-websupport==1.0.1
spyder==3.2.8
spyder-kernels==1.4.0
SQLAlchemy==1.2.7
statsmodels==0.9.0
svgwrite==1.4.1
sympy==1.1.1
tables==3.4.3
TBB==0.1
tblib==1.3.2
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
thinc==6.10.3
threadpoolctl==2.1.0
toolz==0.9.0
tornado==5.0.2
tqdm @ file:///tmp/build/80754af9/tqdm_1605303662894/work
traitlets==4.3.2
Tree==0.2.4
typed-ast==1.4.1
typing==3.6.4
ujson @ file:///D:/bld/ujson_1602282231442/work
unicodecsv==0.14.1
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.2.1
win-inet-pton==1.0.1
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.10.11
WTForms==2.3.3
xgboost==1.2.1
xlrd==1.1.0
XlsxWriter==1.0.4
xlwings==0.11.8
xlwt==1.3.0
xmltodict==0.12.0
zict==0.1.3
zipp @ file:///tmp/build/80754af9/zipp_1604001098328/work
